<header>
    <div class="logo">
        <a href="/"><img src="/image/products/logo2.png" alt=""></a>
    </div>
    <nav>
        <ul>
            <li class="dropdown">
                <button class="dropbtn"> DEM PROVINCIA <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/api/demandaChaco">DEM CHACO</a>
                <a href="/api/demandaCorrientes">DEM CORRIENTES</a>
                <a href="/api/demandaFormosa">DEM FORMOSA</a>
                <a href="/api/demandaMisiones">DEM MISIONES</a>
                <a href="/api/demandaNea">DEM NEA</a>
            </div>
            </li>
           
            <li><a href="/about">Acerca</a></li>
            <li><a href="/contact">Contacto</a></li>
            <% if (locals.isLogged) { %>
            <li><a href="/users/profile"><img src="../image/users/<%= locals.userLogged.avatar %> " width="40"style="border-radius: 100%;"></a></li>
            <li><a href="/users/logout">Logout</a></li>
                <% } else { %>
            <li class="nav-item"><a href="/users/register">Register</a></li>
            <li class="nav-item"><a href="/users/login">Login</a></li>
                <% } %>
        </ul>
    </nav>

</header>