*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
    display: block;
    padding: 50px;
}

.container-product{
    display: block;
    width: 30%;
    margin: auto;
    background-color: orange;
     margin-bottom: 10px;

}

.tabla {
    display: block;
    text-align: center;
}

table{
    text-align: center;
    margin: auto;
   
}

td {
    padding: 2px;
    font-size: 1.2em;
}

th{
    padding: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.grafico{
    width: 60%;
    height: 60%;
    display: block;
}