<%- include('../partials/head',{title:'Chaco'}) %>

<body>
    <%- include('../partials/header') %>
    <main>

        <h1>DEMANDA CHACO</h1>
        <div class="maximas">
            <div>
                <h2>Max Hoy</h2>
                <h2 id="maxHoy"></h2>
            </div>
            <div>
                <h2>Max Ayer</h2>
                <h2 id="maxAyer"></h2>
            </div>
            <div>
                <h2>Max Sem Ant</h2>
                <h2 id="maxSemAnt"></h2>
            </div>
        </div>

        <div class="grafico" >
            <canvas id="myChart" ></canvas>
        </div>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>demHoy</th>
                        <th>demAyer</th>
                        <th>demSemAnt</th>
                    </tr>
                </thead>
                
                <tbody id="content">
            
                       
              
                        </tbody>
                        </table>
                    </div>
                </main>
                
                <script src="/js/grafChaco.js"></script>
                </body>
                
                </html>