<%- include('../partials/head',{title:'Misiones'}); %>
<body>
    <%- include('../partials/header') %>
    <main>

        <h1>DEMANDA MISIONES</h1>
        
        <div class="maximas">
            <div>
            <h3>Ahora</h3>
            <h2 id="ahora"></h2>
        </div>
        <div>
            <h3>10 min antes</h3>
            <h2 id="antes1"></h2>
        </div>
        <div>
            <h3>20 min antes</h3>
            <h2 id="antes"></h2>
        </div>
            <div>
                <h3>Max Hoy</h3>
                <h2 id="maxHoy"></h2>
            </div>
            <div>
                <h3>Max Ayer</h3>
                <h2 id="maxAyer"></h2>
            </div>
            <div>
                <h3>Max Sem Ant</h3>
                <h2 id="maxSemAnt"></h2>
            </div>
        </div>

        <div class="grafico">
            <canvas id="myChart"></canvas>
        </div>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>hora</th>
                        <th>dem hoy</th>
                        <th>dem ayer</th>
                        <th>dem sem ant</th>
                    </tr>
                </thead>

                <tbody id="content"></tbody>
            </table>
        </div>
    </main>
        <script src="/js/grafMisiones.js"></script>
    </body>
    </html>