<%- include('../partials/head',{title:'About'}); %>

<body>
    <%- include('../partials/header') %>
    <main>
        <h1>DEMANDAS DEL NEA</h1>
        <p>En esta pagina web se muestran las demandas en 
         MW de las provincias del Nea, 
         en forma total e individual de cada una.
         Ademas se agrego tarjetas con los valores maximos de cada curva que se 
         registra durante el dia de hoy, 
         ayer y el mismo dia pero de la semana anterior. 
         La informacion de la demanda del Nea trae consigo datos de las 
         Temperaturas cada 15min, dado que esto resulta extremadamente importante
         al hacer un analisis demanda vs temperatura. 
         La informacion es proporcionada por cammesa a traves de su api publica.
        </p>


    </main>

</body>

</html>