<%- include('../partials/head',{title:'Login'}); %>
<body>
    <%- include('../partials/header') %>
    <main>

        <h1>INGRESA!!!!</h1><br>
        
        <form action="/users/login" method="POST">
            <div class="input-container">
            <input type="email" name="email" id="email" required>
            <% if (locals.errors && errors.email) { %>
                <div><%= errors.email.msg %> </div>
                
                <% } %>
                <label>INGRESE SU EMAIL REGISTRADO</label> 
            </div>
                <div class="input-container">
                <input type="password" name="password" id="password" required>
               
                <label>INGRESE SU PASSWORD</label> 
            </div>
               
            <div class="check">
                        <input type="checkbox" id="inpcheck"  name="remember_user">
                        <label>Recordar mi usuario</label>
                </div>
                <button type="submit" class="myButton">INGRESAR</button>
            </form>
        </main>

    
</body>
</html>