<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM CREAR</title>
</head>
<body>
    <h1>FORMULARIO DE CREACION DE PRODUCTO</h1><br>
    <H2>COMPLETAR</H2><br>
    
    <form action="/products/create" method="POST">

<input type="text" name="name" id="name" placeholder="NOMBRE"> <br>
<input type="text"  name="description" id="description" placeholder="DESCRIPCION"><br>
<input type="text" name="color" id="color" placeholder="COLOR"><br>
<input type="number" name="discount" id="discount" placeholder="DESCUENTO"><br>
<input type="number"   name="price" id="price" placeholder="PRECIO"><br>
<input type="file"  name="image" id="image" placeholder="IMAGEN"><br>
<select name="type" id="type" placeholder="TIPO"><br>
    <option value="visited">mas visitado</option>
    <option value="in sale">oferta</option>
    <option value="new">nuevo</option>
</select><br>
<button type="submit">crear </button>

</form>

</body>
</html>